.actionBtn {
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 1.2em;
}

.box {
  position:absolute;
  border:2px solid red;
  background-color:transparent;
  margin-left: 32%;
}

ul.links {
  padding-bottom: 20px;
}
